<footer class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-4">
      <p id="footertag">Contact information</p>
      <p>Satyansh Sagar</p>
      <p>4th Floor, 91Springboard, #175 & #176, Dollar Layout,</p>
      <p> Phase 4, JP Nagar, Bengaluru</p>
      <p>tel: 112-458751</p>
    </div>
    <div class="col-sm-4">
      <p id="footertag">API</p>
      <p>express</p>
      <p>ejs-templating</p>
      <p>mysql-promise</p>
      <p>mocha testing</p>
      <p>mongoDB</p>
    </div>
    <div class="col-sm-4">
      <p id="footertag">contributors</p>
      <p id="footertag">-SPIDERMAN</p>
    </div>
  </div>
</footer>
