<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">The Spidey Store</a>
    </div>
    <ul class="nav navbar-nav d-flex">
        <li><a href="/books">Books</a></li>
        <li><a href="/authors">Authors</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="/logout"><b>Logout</b></a></li>
    </ul>
  </div>
</div>
