<%include ./partials/header.ejs%>
  <link rel="stylesheet" href="/css/bookdescription.css">
  </head>
  <body>
      <%include ./partials/navbar.ejs%>
      <div class="row" id="palletid">
        <div class="col-sm-8" id="bookscol">
          <h1 id="name">Name : <%=authorname%></h1><br>

        </div>
        <div class="col-sm-4" id="authorscol">
          <p id="details">Author ID: <%=id%></p><br>
            <p id="details">About Author: <%=authordetails%></p>
        </div>
      </div>

  </body>

</html>
