<%include ./partials/header.ejs%>
<link rel="stylesheet" href="/css/authors.css">
</head>
  <body>
    <%include ./partials/navbar.ejs%>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>authorid</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
          <%authors.forEach((author)=>{%>
            <tr>
              <td id="tableanchor"><%=author.id%></td>
              <td><a href="authors/<%=author.id%>" id="tableanchor"><%=author.authorname%></a></td>
            </tr>
          <%});%>
      </tbody>
    </table>
    <%include ./partials/footer.ejs%>
  </body>
</html>
