<%include ./partials/header.ejs%>
  <link rel="stylesheet" href="/css/bookdescription.css">
</head>
  <body>
      <%include ./partials/navbar.ejs%>
      <div class="row" id="palletid">
        <div class="col-sm-8" id="bookscol">
          <h1 id="name">Name : <%=book.bookname%></h1><br>
          <p id="details">Year: <%=book.year%></p><br>
          <p id="details">Authors: <%=book.authorname%></p><br>
          <p id="details">ISBN: <%=book.isbn%></p><br>
            <p id="details">Description: <%=book.bookdetail%></p><br>
            <h4>Wiki Link: <a href="<%=book.wikilink%>" style="color:white"><%=book.wikilink%></a></h4>
        </div>
        <div class="col-sm-4" id="authorscol">
          <img class="img-rounded" id="imagethumbs" src="/resources/<%=book.imagelink%>" alt="book cover">
        </div>
      </div>
      <div class="container-fluid">
        <div class="container" style="margin:0 auto">
          <%-review%>
        </div>
      </div>
  </body>
</html>
