<%include ./partials/header.ejs%>
  <link rel="stylesheet" href="/css/books.css">
</head>
  <body>
    <%include ./partials/navbar.ejs%>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>isbn</th>
          <th>Book</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <%books.forEach((item)=>{%>
            <tr>
            <td> <img class="img-rounded" id="imagethumbs" src="/resources/<%=item.imagelink%>" alt=""> </td>
            <td id="isbn"><%=item.isbn%></td>
            <td><a href="books/<%=item.isbn%>" id="tableanchor"><%=item.bookname%></a>
            <br>
            <p id="bookdetails"><%=item.bookdetail%></p>
          </td>
            <td><a href="authors/<%=item.authorid%>" id="tableanchor"><%=item.authorname%></a></td>
            </tr>
      <%  });%>

      </tbody>
    </table>

    <%include ./partials/footer.ejs%>
  </body>

</html>
