<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body {
        background-color: rgba(255, 0, 0, 0.5);
      }
    </style>
  </head>
  <body>
    <a href="/">Login again</a>
    <h4><%=message%></h4><br><br>
    <img src="/resources/giphy.gif" class="image-rounded" style="margin-left:30%" alt="Error">
  </body>
</html>
