<%include ./partials/header.ejs%>
  <link rel="stylesheet" href="../css/home.css">
</head>
  <body>
   <%include ./partials/navbar.ejs%>

    <div class="row" id="palletid">
      <div class="col-sm-6" id="bookscol">
        <h1><a id="booktitle" href="books">BOOK</a> </h1>
      </div>
      <div class="col-sm-6" id="authorscol">
          <h1 ><a id="authortitle" href="authors">Authors</a></h1>
      </div>
    </div>
    <br>
  <%include ./partials/footer.ejs%>
  </body>
</html>
