<%include ./partials/header.ejs%>
  <link rel="stylesheet" href="../css/login.css">
</head>
  <body>
    <div class="container-fluid">
        <div class="container">
          <fieldset>
            <legend>Login</legend>
            <form action="/loginuser" method="post">
              <input type="text" name="email" placeholder="Entet Email" required><br><br>
              <input type="password" name="password" placeholder="password" required><br>
              <button type="submit" name="button">Login</button><br><br>
              <a href="/register">New user? click here to register</a>
            </form>
          </fieldset>
        </div>
      </div>
  </body>
</html>
