<%include ./partials/header.ejs%>
  <link rel="stylesheet" href="/css/register.css">
</head>
  <body>
    <div class="container-fluid">
      <div class="container">
        <fieldset>
          <legend>Sign up</legend>
            <form action="/registeruser" method="post">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="password" required><br>
            <input type="password" name="confpassword" placeholder="confirm password" required>
            <button type="submit" name="register">Register</button>
          </form>
        </fieldset>
      </div>
    </div>
  </body>

</html>
