body,html{
  height: 100%;
}
#footertag{
  color: white;
  font-size: 17px;
  font-style: normal;
  font-family: monospace;
}
footer{
  width: 100vw;
  height: 20vh;
  position: sticky;
  background-color: rgba(0,0,0,0.9);
}
body{
  background-image: url("../resources/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
table{
  box-shadow: 2px 10px grey;
  border: 1px solid black;
}
th{
  color: rgba(255,25,45,1);
  font-size: 25px;
}
#tableanchor{
  color: white;
  font-size: 18px;
  font-weight: bold;
}
