body{
  background-image: url("../resources/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body,html{
  height: 100%;
}

#bookscol{
  background-color: rgba(255,255,255,0.4);
  height: 100vh;
  border: 2px solid rgba(0,0,0,0.5);
  padding: 2%;
}
#authorscol{
background-color: rgba(240,10,40,0.4);
height: 100vh  ;
border: 2px solid rgba(0,0,0,0.5);
padding: 5%;
}
#name{
font-size: 45px;
color: rgba(240,10,40,1);
font-style: normal;
font-weight: bold;
font-family: fantasy;
}
#details{
  position: center;
  font-size: 22px;
  color: rgba(255,255,255,1);
  font-style: normal;
  font-family: fantasy;

}
#palletid{
  margin-top: 1%;
  box-shadow: 2px 10px rgba(0,0,0,0.5);
  border: 2px solid rgba(0,0,0,0.5);
}
