#footertag{
  color: white;
  font-size: 17px;
  font-style: normal;
  font-family: monospace;
}
body,html{
  height: 100%;
}
footer{
  width: 100vw;
  height: 20vh;
  position: sticky;
  background-attachment: fixed;
  background-color: rgba(0,0,0,0.9);
}
body{
  background-image: url("../resources/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
table{
  box-shadow: 2px 10px grey;
  border: 1px solid black;
}
th{
  color: rgba(255,25,45,1);
  font-size: 28px;
  font-weight: bold;
}
#tableanchor{
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  font-size: 25px;
}
#imagethumbs{
}
#isbn{
  color:white;
  font-size: 18px;
  font-weight: bold;
}
#bookdetails{
  color: rgba(245, 254, 200, 1);
  font-size: 20px;
}
