body,html{
  height: 100%;
}
body{
  background-image: url("../resources/backgroundhome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
footer{
  width: 100vw;
  height: 30vh;
  position: sticky;
  background-color: rgba(1,20,20,0.9);
}
#footertag{
  color: white;
  font-size: 17px;
  font-style: normal;
  font-family: monospace;
}
#bookscol{
  background-color: rgba(255,255,255,0.4);
  height: 60vh;
  padding: 9%;
  border: 2px solid rgba(0,0,0,0.5);
}
#authorscol{
background-color: rgba(240,10,40,0.4);
height: 60vh  ;
padding: 9%;
border: 2px solid rgba(0,0,0,0.5);
}
#booktitle{
position: center;
font-size: 45px;
color: rgba(240,10,40,1);
font-style: normal;
font-weight: bold;
font-family: fantasy;
margin-left: 40%;
margin-top: 10%;
}
#authortitle{
  position: center;
  font-size: 45px;
  color: rgba(255,255,255,1);
  font-style: normal;
  font-weight: bold;
  font-family: fantasy;
  margin-left: 40%;
  margin-top: 10%;
}
#palletid{
  margin-top: 1%;
  box-shadow: 2px 10px rgba(0,0,0,0.5);
  border: 2px solid rgba(0,0,0,0.5);
}
#loginid{
  margin-right: 0%;
}
