html,body {
height: 100%;
}
body{
  background-image: url("../resources/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
input{
margin-left:10%;
width: 80%;
background: rgba(0, 0, 0, 0.5);
}
button{
margin-top: 5vh;
margin-left: 40%;
}
h4{
  color: rgba(200, 200, 210, 0.9);
  margin: auto;
}
label{
  color:white;
  margin-right: 40vw;
}
.container{
  margin-top:10vh;
  height: 60vh;
  width: 30vw;
  border: 1px solid white;
  box-shadow: 2px 5px grey;
  background-color: rgba(255, 25, 45, 0.2);
}
fieldset{
  color: white;
}
legend{
  color:white;
}
