html,body {
height: 100%;
}
body{
  background-image: url("../resources/backgroundhome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input{
margin: 0 auto;
margin-top: 5vh;
width: 90%;
}
button{
  margin-left: 35%;
margin-top: 5vh;
}
.container{
  padding: 2%;
  margin:0 auto;
  margin-top:10vh;
  height: 75vh;
  width: 40vw;
  border: 1px solid white;
  box-shadow: 3px 7px rgba(0,25,45,0.5);
  background-color: rgba(255, 255, 255, 0.1);
}
fieldset{
  color: white;
}
legend{
  color:white;
}
